<%- include('../../fragments/header.ejs') %>

 <main>
  <h2>Lista pojazdów</h2>


  <table class="table-list">
   <thead>
   <tr>
    <th>Numer rej.</th>
    <th>Typ</th>
    <th>Kolor</th>
    <th>Akcje</th>
   </tr>
   </thead>


   <tbody>
   <tr>
    <td>WX1234B</td>
    <td>Osobowy</td>
    <td>czarny</td>
    <td>
     <ul class="list-actions">
      <li>
       <a class="list-actions-button-details" href="/vehicle/details/:vehId">Szczegóły</a>
      </li>
      <li>
       <a class="list-actions-button-edit" href="/vehicle/details/:vehId">Edytuj</a>
      </li>
      <li>
       <a class="list-actions-button-delete" href="">Usuń</a>
      </li>
     </ul>
    </td>
   </tr>

   <tr>
    <td>LK9999L</td>
    <td>Osobowy</td>
    <td>n/d</td>
    <td>
     <ul class="list-actions">
      <li>
       <a class="list-actions-button-details" href="/vehicle/details/:vehId">Szczegóły</a>
      </li>
      <li>
       <a class="list-actions-button-edit" href="/vehicle/details/:vehId">Edytuj</a>
      </li>
      <li>
       <a class="list-actions-button-delete" href="">Usuń</a>
      </li>
     </ul>
    </td>
   </tr>

   <tr>
    <td>KR2138B</td>
    <td>Ciężarowy</td>
    <td>biały</td>
    <td>
     <ul class="list-actions">
      <li>
       <a class="list-actions-button-details" href="/vehicle/details/:vehId">Szczegóły</a>
      </li>
      <li>
       <a class="list-actions-button-edit" href="/vehicle/details/:vehId">Edytuj</a>
      </li>
      <li>
       <a class="list-actions-button-delete" href="">Usuń</a>
      </li>
     </ul>
    </td>
   </tr>

   </tbody>
  </table>

  <p><a class="button-add" href="/vehicle/add">Dodaj nowy pojazd</a></p>

 </main>
<%- include('../../fragments/footer.ejs') %>