<%- include('../../fragments/header.ejs') %>

<main>
  <h2>Formularz dodania nowej kamery</h2>

  <form class="form" novalidate onsubmit="return validateForm();">

   <div>
    <label for="alias">Alias:<abbr title="required" aria-label="required">*</abbr></label>
   </div>

   <div>
    <input type="text" name="alias" id="alias" value="Brama główna">
    <span id="errorAlias" class="errors-text"></span>
   </div>


   <div>
    <label for="localization">Lokalizacja:</label>
   </div>
   <div>
    <input type="text" name="localization" id="localization" value="Budynek II">
   </div>



   <div>
    <label for="manufacturer">Producent:</label>
   </div>
   <div>
    <input type="text" name="manufacturer" id="manufacturer" value="DVS">
   </div>

   <div>
    <label for="resolution">Rozdzielczość:</label>
   </div>
   <div>
    <input type="text" name="resolution" id="resolution" value="1440x1080">
   </div>


   <div class="form-buttons">
    <p id="errorsSummary" class="errors-text"></p>
    <input class="form-button-submit" type="submit" value="Dodaj"/>
    <br>
    <input class="form-button-cancel" type="button" value="Anuluj" onclick="location.href='/camera';"/>
   </div>
  </form>


 </main>


<%- include('../../fragments/footer.ejs') %>