<%- include('../../fragments/header.ejs') %>
 <main>
  <h2>Rejestr</h2>


  <table class="table-list">
   <thead>
   <tr>
    <th>Numer rej.</th>
    <th>Kamera</th>
    <th>Czas</th>
    <th>Autoryzowano</th>
    <th>Kierunek</th>
    <th>Akcje</th>
   </tr>
   </thead>


   <tbody>
   <tr>
    <td>WX1234B</td>
    <td>1</td>
    <td>14:08:12</td>
    <td>true</td>
    <td>true</td>
    <td>
     <ul class="list-actions">
      <li>
       <a class="list-actions-button-details" href="/encounter/details/:encId">Szczegóły</a>
      </li>
      <li>
       <a class="list-actions-button-edit" href="/encounter/details/:encId">Edytuj</a>
      </li>
      <li>
       <a class="list-actions-button-delete" href="">Usuń</a>
      </li>
     </ul>
    </td>
   </tr>

   <tr>
    <td>WD40404</td>
    <td>3</td>
    <td>02:43:55</td>
    <td>false</td>
    <td>true</td>
    <td>
     <ul class="list-actions">
      <li>
       <a class="list-actions-button-details" href="/encounter/details/:encId">Szczegóły</a>
      </li>
      <li>
       <a class="list-actions-button-edit" href="/encounter/details/:encId">Edytuj</a>
      </li>
      <li>
       <a class="list-actions-button-delete" href="">Usuń</a>
      </li>
     </ul>
    </td>
   </tr>

   <tr>
    <td>KR2138B</td>
    <td>2</td>
    <td>18:00:35</td>
    <td>true</td>
    <td>false</td>
    <td>
     <ul class="list-actions">
      <li>
       <a class="list-actions-button-details" href="/encounter/details/:encId">Szczegóły</a>
      </li>
      <li>
       <a class="list-actions-button-edit" href="/encounter/details/:encId">Edytuj</a>
      </li>
      <li>
       <a class="list-actions-button-delete" href="">Usuń</a>
      </li>
     </ul>
    </td>
   </tr>

   </tbody>
  </table>

  <p><a class="button-add" href="/encounter/add">Dodaj nowy wpis</a></p>

 </main>

<%- include('../../fragments/footer.ejs') %>