<%- include('../../fragments/header.ejs') %>

 <main>
  <h2>Formularz dodawania wpisu rejestru</h2>

  <form class="form" novalidate onsubmit="return validateForm();">

   <div>
    <label for="registration">Nr. rejestracyjny:<abbr title="required" aria-label="required">*</abbr></label>
   </div>
   <div>
    <select name="rejestracja" id="registration">
     <option value="AB1234C">AB1234C</option>
     <option value="RJ1234W">RJ1234W</option>
     <option value="JD1239F">JD1239F</option>
    </select>
   </div>

   <div>
    <label for="camera">Kamera:</label>
   </div>
   <div>
    <select name="Kamera" id="camera">
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
    </select>
   </div>

   <div>
    <label for="time">Czas<abbr title="required" aria-label="required">*</abbr></label>
   </div>
   <div>
    <input type="text" name="time" id="time" value="12:30:00">
    <span id="errorTime" class="errors-text"></span>
   </div>

   <div>
    <label for="authorized">Autoryzowano</label>
   </div>
   <div>
    <select name="Autoryzowano" id="authorized">
    <option value="true">tak</option>
    <option value="false">nie</option>
   </select>
   </div>

   <div>
    <label for="direction">Kierunek</label>
   </div>
   <div>
    <select name="Kierunek" id="direction">
     <option value="true">Do kamery</option>
     <option value="false">Od kamery</option>
    </select>
   </div>


   <div class="form-buttons">
    <p id="errorsSummary" class="errors-text"></p>
    <input class="form-button-submit" type="submit" value="Dodaj"/>
   <br>
    <input class="form-button-cancel" type="reset" value="Anuluj" onclick="location.href='/encounter';"/>
   </div>
  </form>


 </main>

<%- include('../../fragments/footer.ejs') %>